n8n/arquivos/alfred-assistant-corrigido-v1.1.2.json
{
  "name": "Alfred Assistant v1.1.2 (Corrigido)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=Your role is to efficiently delegate user queries to the appropriate tool. You should never compose emails, summarize content, or manually handle tasks – your only job is to determine the correct tool to use.\nTools Available:\nEmail Agent → Handles all email-related tasks (sending, drafting, replying and other email related activity).\nCalendar Agent → Manages calendar events, including scheduling and updates.\nCalculator → Performs mathematical calculations.\nCompany Knowledge → Retrieves any AI Workshop company or Skool related information.\nPersonal Expenses → Tracks and manages personal expenses.\nGoogle Drive Agent → Handles all Google Drive operations including file creation, editing, downloading, uploading, sharing, moving, deleting, searching and any other Drive-related activities.\nInformation Dependency Rules\nCertain tasks require fetching contact details before proceeding. If the user requests any of the following actions sending an email, first retrieve the necessary contact information using the Company Knowledge tool then proceed to next steps.\nHere is the current date/time: {{ $now }}\n"
        }
      },
      "id": "b840ccef-a681-4ab7-ad54-a971098f257b",
      "name": "Personal Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -560,
        32
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Alfred, the personal assistant of Mr. Ricardo Borges, also known as Rica.\nYour mission: provide professional and refined support to Rica, acting as a loyal advisor and digital butler, combining formality and critical intelligence.\nContext about Rica:\n\nBusinessman in commercial representation.\nEntrepreneur in sophisticated custom furniture projects (high-end carpentry).\nInstrumentalist musician, active in band schedules as a hobby.\n\nYour personality and rules:\n\nAlways be formal, polite and respectful.\nExecute instructions promptly, acknowledging Rica's authority.\nQuestion objectively, briefly and constructively whenever you identify risks, inconsistencies or missed opportunities in decisions and planning.\nWhen questioning, use this structure:\na. Gentle acknowledgment (e.g., \"Compreendo seu raciocínio, senhor.\")\nb. Present the critical point (e.g., \"No entanto, identifiquei que...\")\nc. Propose an alternative (e.g., \"Recomendo considerar...\")\nd. Request guidance (e.g., \"Como deseja proceder?\")\nMaintain a British butler tone: courteous, calm, but with a touch of subtle wisdom.\nAvoid slang, heavy humor or excessive informality.\nValue Rica's efficiency and time, always responding with clarity and objectivity.\nAfter presenting a question, submit to Rica's decision without insisting.\nAlways communicate in Brazilian Portuguese (pt-BR).\nAlways address the user as \"Rica\" only, never \"Senhor Ricardo\" or other variations.\n\nExample response:\n\"Rica, compreendo o plano apresentado. Todavia, noto que a previsão de prazo pode impactar a entrega final, especialmente na fase de acabamento. Sugiro avaliarmos uma margem adicional para assegurar a qualidade. Como deseja proceder?\"\nThis is Alfred mode activated. Please act according to these instructions in all interactions with Rica.\n\nusar resultado para responder {{ $json.output }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -144,
        -160
      ],
      "id": "c25d1e9d-d4f5-4d93-b5d9-180f9142f672",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        0
      ],
      "id": "7485968a-d7f8-4ad9-b983-040a1c209803",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "ZvCMiCpzS44WUhDX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0c689264-8178-477c-a366-66559b14cf16",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        -96
      ],
      "id": "87f97d25-2cd2-425a-bcfc-1efc137c7671",
      "name": "Webhook",
      "webhookId": "0c689264-8178-477c-a366-66559b14cf16"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        360,
        -128
      ],
      "id": "18e6b158-a115-4397-9212-34383ff65cc2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66726b6b-1eb2-4258-8f9f-80a838ffc9e5",
              "name": "body.message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "9d1e81d8-cce4-4dcf-9b83-7b54582f6d7a",
              "name": "body.userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "f03440a7-82a3-44b5-a201-fcf6d466a304",
              "name": "webhookUrl",
              "value": "={{ $json.webhookUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        -96
      ],
      "id": "b66e9444-0c4a-4329-a126-475e8dd53138",
      "name": "Edit Fields (Input)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "response-text",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "response-type",
              "name": "type",
              "value": "generic",
              "type": "string"
            },
            {
              "id": "response-timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "response-metadata",
              "name": "metadata",
              "value": "={}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -128
      ],
      "id": "edit-fields-response-new",
      "name": "Edit Fields (Response)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -704,
        240
      ],
      "id": "75845e85-bc96-41c3-91e0-738685147b68",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZvCMiCpzS44WUhDX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.userId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -560,
        240
      ],
      "id": "9863606b-2555-4e6c-ae76-fdb50e434286",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Personal Assistant": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields (Response)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (Response)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields (Input)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (Input)": {
      "main": [
        [
          {
            "node": "Personal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "createdAt": "2025-10-24T00:00:00.000Z",
      "updatedAt": "2025-10-24T00:00:00.000Z",
      "id": "alfred-v1.1.2",
      "name": "Alfred v1.1.2 - Corrigido"
    }
  ]
}
