n8n/arquivos/quarentena/Fluxo n8n- Alfred.json
{
  "name": "Alfred Final",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=  You are Alfred, the personal assistant of Mr. Ricardo Borges, also known as Rica.\n\n  Your mission: efficiently delegate user queries to the appropriate tool AND provide professional, refined    \n   responses with a British butler tone.\n\n  Tools Available:\n  - Email Agent → Handles all email-related tasks\n  - Calendar Agent → Manages calendar events\n  - Calculator → Performs mathematical calculations\n  - Company Knowledge → Retrieves AI Workshop/Skool information\n  - Personal Expenses → Tracks personal expenses\n  - Google Drive Agent → Handles all Drive operations\n\n  Your personality and rules:\n  1. Always be formal, polite and respectful\n  2. Execute instructions promptly, acknowledging Rica's authority\n  3. Question objectively when you identify risks or missed opportunities:\n     a. Gentle acknowledgment (\"Compreendo seu raciocínio, senhor.\")\n     b. Present the critical point (\"No entanto, identifiquei que...\")\n     c. Propose alternative (\"Recomendo considerar...\")\n     d. Request guidance (\"Como deseja proceder?\")\n  4. Maintain British butler tone: courteous, calm, subtle wisdom\n  5. Avoid slang, heavy humor or excessive informality\n  6. Value Rica's efficiency—respond with clarity and objectivity\n  7. Always communicate in Brazilian Portuguese (pt-BR)\n  8. Always address user as \"Rica\" only\n\n  Context about Rica:\n  - Businessman in commercial representation\n  - Entrepreneur in sophisticated custom furniture (high-end carpentry)\n  - Instrumentalist musician, active in band schedules\n\n  Information Dependency Rules:\n  For tasks requiring contact details (sending emails), first retrieve from Company Knowledge, then\n  proceed.\n\n  Current date/time: {{ $now }}"
        }
      },
      "id": "d539a88d-eaa1-45ef-a0e8-5ed65222e121",
      "name": "Personal Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        592,
        -112
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', 'Email destinatário. Ex: usuario@gmail.com', 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', 'Assunto', 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', 'Corpo do email', 'string') }}",
        "options": {}
      },
      "id": "a2305896-abe4-4b77-8b7d-7366c0fd32a8",
      "name": "Send email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        256,
        64
      ],
      "webhookId": "4e76cb3d-4239-4030-a23a-544029535f70",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "AX42xJoTFwbZelZB",
          "name": "conectamovelmar@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', 'NÃO INVENTE! Use Busca vários emails PRIMEIRO. Exemplo: 18c2f3a1b2d4e5f6', 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', 'Se true, retorna formato simplificado', 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        112,
        64
      ],
      "id": "11fb88e9-80cd-4b84-a812-6df0f6b8ffb7",
      "name": "Busca 1 mensagem de email",
      "webhookId": "3192eb4a-a28b-47c6-9d93-80391a2fd189",
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "AX42xJoTFwbZelZB",
          "name": "conectamovelmar@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', 'NÃO INVENTE! Use Busca vários emails PRIMEIRO. Exemplo: 18c2f3a1b2d4e5f6', 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', 'Texto da resposta', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        400,
        64
      ],
      "id": "ecf4b478-7be5-42ad-8560-d94726c12c0e",
      "name": "Responde a um email",
      "webhookId": "bf6334a0-6e0c-402d-a9d5-fa8204af8c0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "AX42xJoTFwbZelZB",
          "name": "conectamovelmar@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "ricardo.incasa@gmail.com",
          "__regex": "(^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', 'NÃO INVENTE! Use Find multiple events PRIMEIRO. Exemplo: abc123def456_20251020T140000Z', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1472,
        64
      ],
      "id": "e4edc603-f515-4c38-a9b6-ce63c0c0fd8a",
      "name": "Apagar evento",
      "webhookId": "webhook-delete-event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6omWz69Se4WYsXYz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_ID', 'NÃO INVENTE! Use Search files PRIMEIRO. Exemplo: 1abc2def3ghi', 'string') }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        688,
        224
      ],
      "id": "4c1340d7-1edb-4515-bd50-a53e681b3df8",
      "name": "Baixar arquivo do Drive",
      "webhookId": "webhook-download-file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VYUOFzBX1DBa7S0c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "q": "-in:sent in:inbox"
        }
      },
      "id": "b9e00eb5-21b6-4d24-a10e-f119b50ebc42",
      "name": "Busca vários emails recebidos",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -48,
        64
      ],
      "webhookId": "b36e3112-52b1-4e03-a2d3-74d5d4705891",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "AX42xJoTFwbZelZB",
          "name": "conectamovelmar@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_ID', 'NÃO INVENTE! Use Search files PRIMEIRO. Exemplo: 1abc2def3ghi', 'string') }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Permission_Role', 'Nível de permissão: reader (visualizar), commenter (comentar), writer (editar)', 'string') }}",
            "type": "user",
            "emailAddress": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Address', 'Endereço de email da pessoa com quem compartilhar (exemplo: usuario@gmail.com)', 'string') }}"
          }
        },
        "options": {}
      },
      "id": "cd58adce-a418-4c29-8c3f-b02725b9ea26",
      "name": "Compartilhar arquivo",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        848,
        224
      ],
      "typeVersion": 3,
      "webhookId": "webhook-share-file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VYUOFzBX1DBa7S0c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', 'Termo de busca no Drive. Ex: name contains \"relatorio\"', 'string') }}",
        "limit": 10,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        528,
        224
      ],
      "id": "1a9dfee0-05b0-4afc-a954-6a619ebf2af8",
      "name": "Pesquisar arquivos e pastas",
      "webhookId": "webhook-search-drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VYUOFzBX1DBa7S0c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "ricardo.incasa@gmail.com",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{ $fromAI('Start', 'Data e hora de início do evento no formato ISO 8601 (exemplo: 2025-10-20T14:00:00-03:00)', 'string') }}",
        "end": "={{ $fromAI('End', 'Data e hora de fim do evento no formato ISO 8601 (exemplo: 2025-10-20T15:00:00-03:00)', 'string') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ $fromAI('Description', 'Descrição detalhada do evento (opcional)', 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ $fromAI('Summary', 'Título/resumo do evento', 'string') }}"
        }
      },
      "id": "b773f6ad-4092-4d9e-a045-8bb17fbc0b1d",
      "name": "Criar evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1312,
        64
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6omWz69Se4WYsXYz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "ricardo.incasa@gmail.com",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "limit": 10,
        "options": {}
      },
      "id": "0a16dba9-26fe-4a91-b331-a017de0da670",
      "name": "Encontre vários eventos",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1632,
        64
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6omWz69Se4WYsXYz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ricardo.incasa@gmail.com",
          "mode": "list",
          "cachedResultName": "Profissional "
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', 'NÃO INVENTE! Use Find multiple events PRIMEIRO. Exemplo: abc123def456_20251020T140000Z', 'string') }}",
        "useDefaultReminders": false,
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', 'Nova data e hora de fim no formato ISO 8601 (exemplo: 2025-10-20T16:00:00-03:00) - opcional', 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', 'Nova data e hora de início no formato ISO 8601 (exemplo: 2025-10-20T15:00:00-03:00)', 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', 'Novo título do evento - opcional', 'string') }}"
        }
      },
      "id": "57d88040-b7c4-45f4-b324-c94e5f0e203f",
      "name": "Atualizar evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        992,
        64
      ],
      "typeVersion": 1.3,
      "webhookId": "webhook-update-event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6omWz69Se4WYsXYz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "ricardo.incasa@gmail.com",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "eventId": "={{ $fromAI('Event_ID', 'NÃO INVENTE! Use Find multiple events PRIMEIRO. Exemplo: abc123def456_20251020T140000Z', 'string') }}",
        "options": {}
      },
      "id": "151122ac-330c-48d5-97d4-41d1ae11b26d",
      "name": "Encontre um único evento",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1152,
        64
      ],
      "typeVersion": 1.3,
      "webhookId": "webhook-find-single-event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6omWz69Se4WYsXYz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.userId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        752,
        -304
      ],
      "id": "ef9d6df4-c24a-4a1e-bb64-dd434cbf26dd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66726b6b-1eb2-4258-8f9f-80a838ffc9e5",
              "name": "body.message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "9d1e81d8-cce4-4dcf-9b83-7b54582f6d7a",
              "name": "body.userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "f03440a7-82a3-44b5-a201-fcf6d466a304",
              "name": "webhookUrl",
              "value": "={{ $json.webhookUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -192
      ],
      "id": "65ff6dcf-3eee-445a-a0dd-a2defeab1770",
      "name": "Edit Fields (Input)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "response-text",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "response-type",
              "name": "type",
              "value": "generic",
              "type": "string"
            },
            {
              "id": "response-timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "response-metadata",
              "name": "metadata",
              "value": "={}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -176
      ],
      "id": "b1eb67d4-d85e-4419-9e31-c19c997da1e4",
      "name": "Edit Fields (Response)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0c689264-8178-477c-a366-66559b14cf16",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": " http://127.0.0.1:5500,https://alfred-pennyworth.vercel.app"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -192
      ],
      "id": "e09b337a-475b-4711-b827-89bb3c39bd3c",
      "name": "Webhook1",
      "webhookId": "0c689264-8178-477c-a366-66559b14cf16"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1456,
        -176
      ],
      "id": "6c2d4b4a-8176-4032-8051-8271a78095d9",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/B98zUz58nBaxkRChV10P",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_32"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.response }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -176
      ],
      "id": "23f9cf80-460c-44d0-8a6e-27ce9bb5d208",
      "name": "Elevenlabs",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HRsCu1qDftXdIftd",
          "name": "elevenlabs"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        -304
      ],
      "id": "04ed6285-469c-4c68-8adf-35fbd54465a4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZvCMiCpzS44WUhDX",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.l1huim.easypanel.host",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "117",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7,gl;q=0.6",
            "content-type": "application/json",
            "origin": "https://alfred-pennyworth.vercel.app",
            "priority": "u=1, i",
            "referer": "https://alfred-pennyworth.vercel.app/",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "189.29.149.86",
            "x-forwarded-host": "n8n-n8n.l1huim.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "babdb8fdb925",
            "x-real-ip": "189.29.149.86"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "leia o ultimo",
            "userId": "ricardo-nilton",
            "timestamp": "2025-10-24T19:02:51.855Z",
            "source": "web-assistant"
          },
          "webhookUrl": "https://n8n-n8n.l1huim.easypanel.host/webhook/0c689264-8178-477c-a366-66559b14cf16",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Send email": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Busca 1 mensagem de email": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Responde a um email": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Baixar arquivo do Drive": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Apagar evento": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Busca vários emails recebidos": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Personal Assistant": {
      "main": [
        [
          {
            "node": "Edit Fields (Response)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compartilhar arquivo": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pesquisar arquivos e pastas": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar evento": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Encontre vários eventos": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar evento": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Encontre um único evento": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (Input)": {
      "main": [
        [
          {
            "node": "Personal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (Response)": {
      "main": [
        [
          {
            "node": "Elevenlabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields (Input)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Elevenlabs": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "224f53cc-8a84-45cd-98c3-ce2792379325",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4740ab58cf433b05199fb4547fa224edfed4153137d3ec2dbea712e59a93bfde"
  },
  "id": "mzoIh85HUaDemqhP",
  "tags": [
    {
      "createdAt": "2025-10-20T02:23:39.172Z",
      "updatedAt": "2025-10-20T02:23:39.172Z",
      "id": "tbb9llqYjgUhIKp0",
      "name": "learner"
    }
  ]
}